@{  
    ViewData["Title"] = "Agency Home Page";  
}  
<div class="container">  
    <div class="row">  
        
       <div class="col-md-12">  
            <h2><strong>Welcome @ViewData["Title"] </strong></h2><br />  
        </div>
    </div>  
</div>  
